* {
    box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    text-align: center;
    opacity: 0.9;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 69px;
    width: 100%;
    padding: 0 10px;
    border-bottom: 1px solid seashell;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 50px;
    width: auto;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    color: seashell;
}

nav a:hover {
    text-decoration: none;
    color: tan;
}

main {
    margin: 69px auto 0;
    width: 1200px;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

h4 {
    font-weight: 700;
}

h5 {
    font-size: 0.7rem;
    font-weight: bold;
}

p {
    font-size: 0.9rem;
    margin: 20px 0;
}

#mission {
    height: 700px;
    background-image: url("bg-img/img-mission-background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

#mission article {
    background-color: black;
    width: 100%;
    padding: 10px 0;
}

#featured {
    width: 1000px;
    margin: 50px auto;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: black;
    margin: 0 20px;
    padding: 20px 0px;
}

.img_box {
    margin: 20px;
}

.img_box img {
    height: 200px;
    width: 300px;
    margin-bottom: 10px;
}

#locations {
    height: 500px;
    background-image: url("bg-img/img-locations-background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ftr_top {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#copyright {
    text-align: left;
    margin: 0 0 50px 20px;
}